

<div class="container">

    <h1>Customer Listing</h1>
  
    <a href="#" routerLink="/customer/create/" class="btn btn-success">Create New Post</a>
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Type to search" [(ngModel)]="data">
    </div>
    
    <table class="table table-bordered">
      <tr>
        <th>FirstName</th>
        <th>Surname</th>
        <th>EmailAddress</th>
        <th>Cellphone</th>
        <th>Invoice Total</th>
        <th width="220px">Action</th>
      </tr>
      <tr *ngFor="let customer of customers | filter:data">
        <td>{{ customer.firstName }}</td>
        <td>{{ customer.surname }}</td>
        <td>{{ customer.emailAddress }}</td>
        <td>{{ customer.cellphone }}</td>
        <td>{{ customer.amount }}</td>
        <td>
          <a href="#" [routerLink]="['/customer/', customer.customerID, 'update']" class="btn button">View</a>
          <button type="button" (click)="deletePost(customer.customerID)"  class="button">Delete</button>
        </td>
      </tr>
    </table>
 </div>
